.calculator {
  width: 220px;
  margin: 50px auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 22px;
  background: #f9f9f9;
}
.display {
  height: 40px;
  background: #222;
  color: white;
  font-size: 1.5em;
  text-align: right;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 10px;
}
#display {
  overflow-x: auto;
  white-space: nowrap;
  font-size: 30px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 10px;
  height: 120%;
}
button {
  padding: 11px;
  font-size: 1.3em;
  border: 1px solid black;
  border-radius: 5px;
  background: #eee;
  cursor: pointer;
  transition: background 0.3s;
}
button:hover {
  background: #ddd;
}

.typing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.typing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: black;
  font-weight: bold;
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  

}

.typing-text {
      font-size: 30px;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
      border-right: 3px solid #333;
      animation: typing 5.5s steps(10), blink 0.5s step-end infinite alternate;

    }
    
    @keyframes typing {
      0% { width: 0; }
      50% { width: 35%; }
      100% { width: 0; }
    }
    
    @keyframes blink {
      50% { border-color: black; }
    }

    